.venv
data/
dlthub/data
.cursor
.pytest_cache
__pycache__
.terraform
.DS_Store
dlthub/.dlt/secrets.toml
.dlt/secrets.toml
de_zoomcamp_project.egg-info/
*.duckdb
terraform/terraform.tfstate.backup
terraform/terraform.tfstate
dbt/target
dbt/dbt_packages
dbt/logs
