dbt-core==1.9.2
dbt-bigquery==1.9.1
python-dotenv==1.0.1
pandas==2.2.3
requests==2.32.3

google-cloud-storage==2.19.0
google-cloud-bigquery==3.30.0
google-cloud-bigquery-storage==2.29.1

prefect==3.2.13
prefect-shell==0.3.1
prefect[dbt]

dlt==1.8.1
python-dlt==0.2.1
dlt[bigquery]
dlt[duckdb]
pyarrow>=12.0.0

pytest==8.3.5
pytest-cov==6.0.0
sqlfmt==0.0.3